---
// DocLayout.astro
import "../assets/styles.css";
import "katex/dist/katex.min.css";
import "uplot/dist/uPlot.min.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
  </head>
  <body>
    <slot />
  </body>
</html>