.categoryGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.categoryGrid a {
    flex: 1 1 200px;
    text-align: center;
    padding: 1rem;
    background: #222;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, background 0.2s;
}
.categoryGrid a:hover {
    background: #555;
    transform: scale(1.05);
}

.badgeRow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* ruimte tussen badges */
    margin-bottom: 1rem;
}
.badgeRow a img {
    height: 24px; /* consistente hoogte */
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 24px;
    pointer-events: none;
    user-select: none;
    text-align: center;
}

.applicationCanvas {
    display: block;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0;
}

.canvasWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}

.header_line {
    border-top: 1px solid
}

.double_image {
    display: flex;
    align-items: flex-end;
}

.left_image {
    float: left;
    width: 50%;
    text-align: center
}

.right_image {
    float: right;
    width: 50%;
    text-align: center
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
    left: 10px;
    margin-bottom: -5px;
    border-radius: 8px;
}

button, select {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 0, 0.2);
    color: white;
    padding: 3px 3px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0px;
    line-height: 1;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}